#sldshw{
    width: 100%;
    height: 500px;
    user-select: none;
}
#sldshwImgCont{
    position: absolute;
    width: inherit;height: inherit;
    background-color: var(--color60);
}
#sldshwImgCont img{
    position: absolute;
    width: inherit;height: inherit;
    object-fit: contain;
    display: none;
}
#sldshwImgBlurOverlayCont{
    position: absolute;
    width: inherit;height: inherit;
    backdrop-filter: blur(200px);
}
#sldshwImgBlurOverlayCont img{
    position: absolute;
    width: inherit;height: inherit;
    object-fit: contain;
    display: none;
}
#sldshwLRBtnCont{
    position: absolute;
    width: inherit;height: inherit;
    display: flex;justify-content: space-between;align-items: center;
    overflow: hidden;
    pointer-events: none;
}
#sldshwLeftBtn{
    height: 50px;width: 50px;border-radius: 25px;
    display: flex;justify-content: center;align-items: center;
    padding: 0px 0px;
    position: relative;
    right: 15px;
    pointer-events: auto;
}
#sldshwRightBtn{
    height: 50px;width: 50px;border-radius: 25px;
    display: flex;justify-content: center;align-items: center;
    padding: 0px 0px;
    position: relative;
    left: 15px;
    pointer-events: auto;
}
#sldshwDotCont{
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;justify-content: center;align-items: end;
    pointer-events: none;
}
.sldshwDot{
    height: 15px;
    width: 15px;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    pointer-events: auto;
}
#sldshwAPBtnCont{
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;justify-content: right;align-items: end;
    pointer-events: none;
}
#sldshwAPBtn{
    margin: 10px;
    pointer-events: auto;
}
#sldshw .rBtn{border:0;}

#siteNameCont{
    display: flex;flex-direction: column;align-items: center;font-size: 35px;font-weight: 600;text-align: center;margin: 30px 0px;
    color: var(--color10);
}
#ntcCardCont{display: flex;overflow-x: auto;}
#shrtDesc img{max-width: 1200px;}