.rSectBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rSectFormItem{display: flex;align-items: center;margin-bottom: 15px;}
.rSectFormTtl{font-weight: 600; font-size: 15px;max-width: 65px;min-width: 65px;}
#newsSetTimeBtn{font-weight: normal;margin-left: 8px;}
.rSectFormImg{width: 100%;height: 80px;border-radius: 10px;background: var(--color60Tint);display: flex;flex-wrap: nowrap;align-items: center;}
.rSectFormImg img{
    object-fit: cover;
    background-color: var(--color60);
    border-radius: 10px;
    height: 70px;width: 70px;
    margin-left: 5px;
    transition: ease-in 100ms;
}.rSectFormImg img:hover{opacity: 0.8;box-shadow: var(--color10) 0px 0px 0px 2px; transition: ease-out 200ms;}
.rSectFormImg .rBtn{padding: 0;height: 70px;width: 70px;margin-left: 5px;display: flex;justify-content: center;align-items: center;}