html{font-family: 'Montserrat', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;background: var(--color60Tint);color: var(--color30)}body{margin: 0;}

::-webkit-scrollbar {width: 16px;height: 16px;}
::-webkit-scrollbar-thumb {border: 4px solid #00000000;background-clip: padding-box;border-radius: 10px;background-color: #ffffff80;}
::-webkit-scrollbar-track{background-color: transparent;}

input{width: 100%;height: 40px;font-size: 18px;font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;color: white;fill: white;background: var(--color60Tint);border: none;border-radius: 10px;padding: 0px 10px;}
textarea{width: 100%;height: 100px;font-size: 18px;font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;color: white;fill: white;background: var(--color60Tint);border: none;border-radius: 10px;padding: 0px 10px;}
select{width: 100%;height: 40px;font-size: 18px;font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;color: white;fill: white;background: var(--color60Tint);border: none;border-radius: 10px;padding: 0px 10px;}
hr{margin: 10px 15px;border: 1px solid;color: var(--color30Shade);border-radius: 10px;}

/* Custom */
.frostFX{
    background: #75757532;background: linear-gradient(180deg, #75757532 0%, #35353532 100%);
    backdrop-filter: blur(15px) brightness(90%) contrast(110%) saturate(110%);
    border: solid #00000040 2px;
    box-shadow: #15151580 0px 0px 50px 20px, #15151555 0px 0px 15px 0px, inset 0px 0px 15px #ffffff40;
}

.rSect{background: var(--color60);padding: 15px;margin-bottom: 25px;}
.rSectTop{display: flex;justify-content: space-between;align-items: center;}
.rSectTitle{color: var(--color10);font-weight: 700;font-size: 25px;display: flex;align-items: center;}
.rSectGrayTxt{color: var(--color30Shade);display: flex;align-items: center;}
.rSectBody{margin-top: 10px;}

.rBtn{background: #00000040;padding: 8px 10px;border-radius: 10px;transition: ease-in 100ms;cursor: pointer;user-select: none;border:solid 2px;border-color: var(--color60Tint);}
.rBtn:hover{font-weight: 600;background: #00000080;transition: ease-out 200ms;color: var(--color10)}

.pageCenA{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color60);
    padding: 25px 0px;
}.pageCenB{
    width: 100%;
    max-width: 1200px;
    margin: 0px 5px;
}

/* artcl */
.artcl{border: solid #ffffff25 2px;border-radius: 12px;margin: 20px 5px;background-color: var(--color60);}
.artclTop{
    padding: 12px;
    background-color:var(--color60Tint);
    border-radius:10px 10px 0px 0px;border:solid #ffffff25 2px;border-top:0;border-left:0;border-right:0;
}
.artclDiv{padding: 12px;}.artclDiv hr{margin: 10px 0px;}
.artclImgCont{display: flex;margin-top: 10px;overflow-x: auto;}
.artclImgCont img{object-fit: cover;min-height: 120px;height: 120px;min-width: 200px;width: 200px;margin-right: 5px;border-radius: 10px;border:solid 2px;border-color: var(--color60Tint);cursor: pointer;transition: 100ms;}
.artclImgCont img:hover{filter: brightness(0.8);transition: 150ms;}
.artclShare{display: flex;margin-top: 10px;overflow-x: auto;}
.artclShare .rBtn{height: 40px;width: 40px;margin-right: 8px;display: flex;align-items: center;justify-content: center;}

/* artclCard */
.rCard{
    min-width: 350px;max-width: 350px;min-height: 200px;max-height: 200px;padding: 12px;margin-right: 10px;border-radius: 12px;
    background: var(--color60Tint);background: linear-gradient(180deg, var(--color60Tint) 0%, var(--color60) 150%);cursor: pointer;
    /*box-shadow: inset 0px 0px 5px #ffffff20;*/border: solid #ffffff40 2px;overflow: hidden;display: flex;flex-direction: column;
}
.rCardTtl{font-size: 18px;font-weight: 600;margin-bottom: 5px;}
.rCardDate{display: flex;align-items: center;font-size: 14px;color: var(--color30Shade);margin-bottom: 5px;}
.rCardBody{height: 100%;width: 100%;overflow: hidden;color: var(--color30Shade);}
.rCardBody img{width: inherit;height: inherit;object-fit: cover;border-radius: 8px;}

/* prsnCard */
#prsnCardCont{display: flex;overflow-x: auto;}
.prsnCard{
    min-width:325px;width:325px;height:500px;border-radius:12px;
    background:var(--color60);background:linear-gradient(180deg,var(--color60) 0%,var(--color60Tint) 160%);
    border:solid #ffffff25 2px;overflow:hidden;display:flex;flex-direction:column;margin-right: 10px;position:relative;
}.prsnCardBGTop{z-index:1;position:absolute;width:100%;height:125px;background-color:var(--color60Tint);border-radius:10px 10px 0px 0px;border:solid #ffffff25 2px;border-top:0;border-left:0;border-right:0;}
.prsnCardFG{z-index:2;padding:12px;}
.prsnCardName{font-size:18px;font-weight:600;margin-bottom:5px;}
.prsnCardPost{display: flex;align-items: center;font-size:14px;color: var(--color30Shade);margin-bottom:10px;}
.prsnCardImg{background-color:var(--color60Tint);height:200px;width:160px;border-radius: 8px;margin-bottom:10px;border:solid #ffffff25 2px;object-fit:cover;}
.prsnCardBody{font-size: 16px;color: var(--color30Shade);}
.prsnCardID{display: flex;align-items: center;font-size:14px;color: var(--color30Shade);margin-top:10px;}

/* OverPage */
#overPage{
    display: none;justify-content: center;align-items: center;flex-direction: column;
    position: fixed;z-index: 4;
    top: 0;bottom: 0;left: 0;right: 0;
    background: #000000aa;
    backdrop-filter: brightness(80%) contrast(110%) saturate(110%);
}
.OPCard{
    background-color: var(--color60);
    border-radius: 10px;
    padding: 10px;
}
.OPTopBar{font-weight: 600;font-size: 18px;margin-left: 5px;margin-bottom: 15px;display: flex;justify-content: space-between;align-items: center;}
.OPTopBar .rBtn{margin-left: 10px;color: var(--color10);}
#overPage input{width: auto;}

/* SUB-NAV */
#subNavCont{display: flex;flex-direction: column;align-items: center}
#subNavImg{max-width: 100%;min-width: 100%;max-height: 350px;min-height: 350px;}
#subNavImgBlurOverlay{max-width: 100%;min-width: 100%;max-height: 350px;min-height: 350px;}
#subNavTxt{margin-top: 30px;font-size: 35px;font-weight: 600;text-align: center;color: var(--color10);}
#subNavSubTxt{margin-top: 10px;margin-bottom: 30px;font-size: 25px;text-align: center;color: var(--color10Tint);}

/* Markdown */
.md img{width: 100%;}
.md hr{margin: 18px 0px;}
a{color: var(--color10);text-decoration: none;}
p:first-child{margin-top: 0;}p:last-child{margin-bottom: 0;}
ul, ol{padding-left: 18px;}li{margin-top: 10px;}li::marker{color: var(--color30Shade);}
code, pre{background-color: var(--color60Tint);padding: 3px 5px;border-radius: 5px;font-family: "Noto Sans", "Montserrat", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6{margin: 15px 0px;}
h1, h2{border-bottom: 1px solid;border-color: #ffffff25;padding-bottom: 10px;}
h5, h6{color: var(--color30Shade);}
table{border-collapse: collapse;}
th, td{
    padding: 6px 8px;
    border: 2px solid;
    border-color: #ffffff25;
}th{color: var(--color10);font-weight: bold;background-color: var(--color60Tint);}
tr:nth-child(2n){background-color: var(--color60Tint);}

/* ftr */
html{height: 100%;}
body{display: flex;flex-direction: column;min-height: 100%;}
#ftrCont{margin-top: auto;width: 100%;padding-top: 25px;}

.ftrColCont{display: flex;flex-wrap: wrap;}
.ftrCol{display: flex;flex-direction: column;margin: 20px;}

.ftrColTtl{color:var(--color10);display:flex;align-items:center;margin-bottom: 8px;font-size: 20px;font-weight: 600;min-height: 22px;}
.ftrColTtl img{width: 24px;width: 24px;margin-right: 5px;object-fit: cover;}

.ftrCol .rSectGrayTxt{margin-top: 6px;transition: ease-in 150ms;}
.ftrCol .rSectGrayTxt:hover{font-weight: 600; transition: ease-out 200ms;color: var(--color10)}
.ftrCol .rSectGrayTxt img{width: 24px;width: 24px;margin-right: 5px;object-fit: cover;}